/* style_index.css */
/* Estilo para centralizar os botões */
main{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.text-center {
    text-align: center;
}

/* Estilo para adicionar margem ao topo dos botões */
.mt-5 {
    margin-top: 5rem;
}

/* Estilo para aumentar a altura dos botões */
.btn-lg {
    height: 120px; 
    align-content: center;
}