{% extends 'layout_padrao.html' %}

{% block estilo_css %}
<link rel="stylesheet" href="static/style/style_index.css">
{% endblock %}

{% block conteudo %}
<main>
    <div class="container">
        <h1>Página de Exemplo2</h1>
        <div class="text-center mt-5">
            <a href="/produtos_via_ajax" class="btn btn-primary btn-lg mr-3">Produtos<br>(Filtro via AJAX)</a>
            <a href="/produtos_via_url" class="btn btn-success btn-lg">Produtos<br>(Filtro via URL)</a>
        </div>
    </div>
</main>
{% endblock %}

