{% extends 'layout_padrao.html' %}

{% block estilo_css %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/style/style_produtos.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_sobre_produto.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_modal.css') }}">

{% endblock %}

{% block conteudo %}
<main>

    <div class="categorias" id="div_categorias">
        <!--EXEMPLO DO BOTÃO DE CATEGORIA, A FUNÇÃO mostraCategorias APAGA ELE PARA INCLUIR OS CARTÕES PREENCHIDOS-->
        <button type="submit" 
            class="itemCategoria" 
            name="filtro" 
            value="valorcategoria"
            onClick="getProdutos('nome_categoria')">
            <img src="imagem/categoria"> nome categoria
        </button>
    </div>

    <div class="produtos" id="div_produtos">  
        <!--EXEMPLO DO CARTÃO DE PRODUTOS, A FUNÇÃO mostraProdutos APAGA ELE PARA INCLUIR OS CARTÕES PREENCHIDOS-->
        <div class="card" style="background-color: red;" onclick="mostraSobreProduto()">
            <div class="imgBox">
                <img src="" class="mouse">
            </div>
            <div class="contentBox">
                <h3>nome do produto</h3>
                <h2 class="price">R$ 9999,99</h2>
                <a href="#" class="buy">COMPRAR</a>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    //Função que solicita as categorias da API e envia para a função mostraCategorias
    function getCategorias(filtro=""){
        $.ajax({
            url: '/api/get_categorias',
            type: 'GET',
            success: function(respostaAPI){
                mostraCategorias(respostaAPI)
            },
            error: function(erroAPI){
                alert("Erro ao recuperar categorias.")
            }
        })
    }

    //Função responsavel por montar os botões das categorias e mostrar na div id="div_categorias"
    function mostraCategorias(respostaAPI){
        //Limpando a div de id="div_categorias"
        document.getElementById('div_categorias').innerHTML = ""

        for (let categoria of respostaAPI) {
            //montando o botão para cada categoria
            let botao_categoria = `
                <button  
                    class="itemCategoria" 
                    name="filtro" 
                    onClick="getProdutos('${categoria.nome}')">
                    <img src="${categoria.imagem}"> ${categoria.nome}
                </button>
            `

            //inserindo o botão na div de id="div_categorias"
            document.getElementById('div_categorias').innerHTML += botao_categoria
        }
    }

    $(document).ready(getCategorias());
</script>

<script type="text/javascript">
    //Função que solicita os produtos da API e envia para a função mostraProdutos
    function getProdutos(filtro=""){
        let endereco_api = filtro == "" ? '/api/get_produtos' : '/api/get_produtos/' + filtro
        
        $.ajax({
            url: endereco_api,
            type: 'GET',
            success: function(respostaAPI){
                mostraProdutos(respostaAPI)
            },
            error: function(erroAPI){
                alert("Erro ao recuperar produtos.")
            }
        })
    }

    //Função responsavel por montar os cards dos produtos e mostrar na div id="div_produtos"
    function mostraProdutos(respostaAPI){
        //Limpando a div de id="div_produtos"
        document.getElementById('div_produtos').innerHTML = ""

        for (let produto of respostaAPI) {
            //montando o cartão de cada produto
            let cartao_produto = `
                <div class="card" style="background-color: ${produto.cor_categoria};" onclick="mostraSobreProduto(${produto.id_produto})">
                    <div class="imgBox">
                        <img src="${produto.foto}" class="mouse">
                    </div>
                    <div class="contentBox">
                        <h3>${produto.nome}</h3>
                        <h2 class="price">R$ ${produto.preco}</h2>
                        <a href="#" class="buy">COMPRAR</a>
                    </div>
                </div>
            `

            //inserindo o cartão na div de id="div_produtos"
            document.getElementById('div_produtos').innerHTML += cartao_produto
        }
    }

    $(document).ready(getProdutos());
</script>

<!---------------------------------- MODAL-------------------------------------------------->


<div class="modal fade bd-example-modal-lg" id="modalSobreProduto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg-per" role="document">
        <div class="modal-content">
            <!-- Botão de Fechar -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <section class="about_section layout_padding" id="sessaoSobreProduto">
                <div class="container" id="conteiner_produto" style="background-color: red;">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="img-box">
                                <img src="static/imgs/produtos/raposa.png" id="foto_produto">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <div class="detail-box">
                                <div class="heading_container">
                                    <h2 id="nome_produto">NOME</h2>
                                    <h3 id="preco_produto">R$ 999,99</h3>
                                </div>
                                <p id="descricao_produto">DESCRIÇÃO</p>
                                <a href="">Adicionar no carrinho</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    function mostraSobreProduto(id_produto){
        $.ajax({
            url: "/api/sobre_produto_ajax/" + id_produto,
            type: 'GET',
            success: function(respostaAPI){
                mostraModal(respostaAPI)
            },
            error: function(erroAPI){
                alert("Erro ao recuperar produtos.")
            }
        })
    }

    function mostraModal(respostaAPI){
        const produto = respostaAPI;
        document.getElementById("nome_produto").innerHTML = produto.nome;
        document.getElementById("preco_produto").innerHTML = "R$ " + produto.preco;
        document.getElementById("descricao_produto").innerHTML = produto.descricao;
        document.getElementById("foto_produto").src = produto.foto;
        document.getElementById("conteiner_produto").style.backgroundColor = produto.cor_categoria;

        $('#modalSobreProduto').modal();
    }
</script>


{% endblock %}
