{% extends 'layout_padrao.html' %}

{% block estilo_css %}
<link rel="stylesheet" href="static/style/style_produtos.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block conteudo %}
<main>

    <div class="categorias">
        <form>
            <button type="submit" 
                class="itemCategoria" 
                name="filtro" 
                value = "valorcategoria"
                style = 
            >
                <img src="imagem/categoria"> nome categoria
            </button>
        </form>
    </div>

    <div class="produtos" >  
            <div class="card" style="background-color: red;">
                ::before:
                <div class="imgBox">
                <img src=""  class="mouse">
                </div>
                <div class="contentBox">
                <h3>nome do produto</h3>
                <h2 class="price">R$ </h2>
                <a href="#" class="buy">COMPRAR</a>
                </div>
            </div>
    </div>
</main>

<script type="text/javascript">
    //Função que solicita os produtos da API
    function getProdutos(){
        $.ajax({
            url: '/api/get_produtos',
            type: 'GET',
            success: function(respostaAPI){
                mostraProdutos(respostaAPI)
            },
            error: function(erroAPI){
                alert("Erro ao recuperar produtos.")
            }
        })
    }

    function mostraProdutos(produtos){
        console.log("teste")
        console.log(produtos)
        for (let x of produtos) {
            produto = x
            console.log(x.nome);
          }
    }

    $(document).ready(getProdutos);
</script>
  {% endblock %}