{% extends 'layout_padrao.html' %}

{% block estilo_css %}
<link rel="stylesheet" href="static/style/style_produtos.css">
{% endblock %}

{% block conteudo %}
<main>

    <div class="categorias">
        {% for categoria in lista_categorias%}
        <form>
            <button type="submit" 
                class="itemCategoria" 
                name="filtro" 
                value = {{categoria['nome']}}
                style = 
            >
                <img src="{{categoria['imagem']}}"> {{categoria['nome']}}
            </button>
        </form>
        {%endfor%}
    </div>

    <div class="produtos" >  
        {% for produto in lista_produtos%}
            <div class="card" style="background-color: {{produto['cor_categoria']}};">
                ::before:
                <div class="imgBox">
                <img src="{{produto['foto']}}"  class="mouse">
                </div>
                <div class="contentBox">
                <h3>{{produto['nome']}}</h3>
                <h2 class="price">R$ {{produto['preco']}}</h2>
                <a href="#" class="buy">COMPRAR</a>
                </div>
            </div>
        {%endfor%}
    </div>
</main>
  {% endblock %}