{% extends 'layout_padrao.html' %}

{% block estilo_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style_produtos.css') }}">
{% endblock %}

{% block conteudo %}
<main>

    <div class="categorias">
        {% for categoria in lista_categorias%}
        <form>
            <button type="submit" 
                class="itemCategoria" 
                name="filtro" 
                value = {{categoria['nome']}}
            >
                <img src="{{categoria['imagem']}}"> {{categoria['nome']}}
            </button>
        </form>
        {%endfor%}
    </div>

    <div class="produtos" >  
        {% for produto in lista_produtos%}
        <a href="/sobre_produto_url?produto={{produto['id_produto']}}">
            <div class="card" style="background-color: {{produto['cor_categoria']}};">
                <div class="imgBox">
                    <img src="{{produto['foto']}}"  class="mouse">
                </div>
                <div class="contentBox">
                    <h3>{{produto['nome']}}</h3>
                    <h2 class="price">R$ {{produto['preco']}}</h2>
                    <a href="/sobre_produto_url/{{produto['id_produto']}}" class="buy">COMPRAR</a>
                </div>
            </div>
        </a>
        {%endfor%}
    </div>
</main>
  {% endblock %}